html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.movie-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  width: 70%;
}

.movie-poster {
  width: 100%;
}